<!DOCTYPE html>
<html lang="de">  
<<<<<<< HEAD
  <head>    
=======
  <head>
    <!--Die Gestaltung der Elemente der 
      HTML-Seite wird in der styles.css festgelegt-->
>>>>>>> 9f01f48c0cee9314e7f733beaefd781a735da5c8
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
<<<<<<< HEAD
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
=======
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
>>>>>>> 9f01f48c0cee9314e7f733beaefd781a735da5c8
    <title>N27 - Startseite</title>
  </head>
  <body>
    <header>
      <h1>Herzlich Willkommen</h1>    
      <nav>      
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>                        
        <a href="/login">Logout</a>        
<<<<<<< HEAD
        <a href="/impressum">Impressum</a>   
        <a href="mailto:stefan.baeumer@berufskolleg-borken.de"> <i class="fa fa-envelope-o"></i></a>
      </nav>
    </header>   
    <form>          
      <button formaction="/kontoAnlegen">Konto anlegen</button>
    </form>     
=======
        <a href="/impressum">Impressum</a>        
        <a href="mailto:stefan.baeumer@berufskolleg-borken.de"> <i class="fa fa-envelope-o"></i></a>
      </nav>   
      <br>
    </header>    
    <form>          
      <button formaction="/kontoAnlegen">Konto anlegen</button>
    </form>  
>>>>>>> 9f01f48c0cee9314e7f733beaefd781a735da5c8
  </body>
</html>