<!DOCTYPE html>
<html lang="de">  
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
<<<<<<< HEAD
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
=======
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
>>>>>>> 9f01f48c0cee9314e7f733beaefd781a735da5c8
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
<<<<<<< HEAD
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>            
          N27 - Login
      </title>
    </head>    
    <body>
        <h1>Bitte anmelden!</h1>
        <nav>      
          <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>                        
          <a href="/login">Logout</a>   
          <a href="/impressum">Impressum</a>        
          <a href="mailto:stefan.baeumer@berufskolleg-borken.de"> <i class="fa fa-envelope-o"></i></a>
        </nav>  
        <form method="POST" action="/">          
          <label>Benutzer-ID:</label>          
          <input type="text" name="idKunde">
          <label>Kennwort:</label>          
          <input type="password" name="kennwort">          
          <button>Login</button>
        </form>          
    </body>
=======
    <title>N27 - Login</title>
  </head>
  <body>
    <h1>Bitte anmelden!</h1>
    <form method="POST" action="/">
      <label>Benutzer-ID:</label>
      <input type="text" name="idKunde">
      <label>Kennwort:</label>      
      <input type="password" name="kennwort">      
      <button>Login</button>
    </form>     
  </body>
>>>>>>> 9f01f48c0cee9314e7f733beaefd781a735da5c8
</html>